src/home.haml
!!!
%html

  %head

    %title 2016-17 UB Undergraduate Degree & Course Catalog
    / Meta
    %meta{:name=>'viewport',:content=>'width=device-width,initial-scale:1.0'}
    / CSS (Foundation, Roboto, FontAwesome, Catalog)
    %link{:rel=>'stylesheet',:id=>'Foundation 6',:href=>'//cdnjs.cloudflare.com/ajax/libs/foundation/6.1.1/foundation-flex.min.css'}
    %link{:rel=>'stylesheet',:id=>'Roboto Font',:href=>'//fonts.googleapis.com/css?family=Roboto:400,500,400italic,300,300italic,700,500italic,100,100italic,700italic,900,900italic',:type=>'text/css'}
    %link{:rel=>'stylesheet',:id=>'FontAwesome',:href=>'//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'}
    %link{:rel=>'stylesheet',:id=>'UB Catalog',:href=>'css/home/home.css'}

  %body

    / background, fixed position (hide on small screens)
    .row.expanded.bg-image.hide-for-small-only
      .column

    / site banner
    %header.row.expanded.banner
      .columns.large-offset-1.large-10
        / medium & large screen banner
        %object.logo.show-for-medium{:data=>'img/UBFullName.svg',:type=>'image/svg+xml'}
        / phone banner
        %h1.title.show-for-small-only.float-left Degree &amp; Course Catalog 16-17
        %object.logo.show-for-small-only.float-right{:data=>'img/UB.svg',:type=>'image/svg+xml'}

    / site title & year
    .row.expanded.hide-for-small-only.site-title
      .column.large-offset-1.large-10
        %h1.title
          Undergraduate Degree &amp; Course Catalog
        %h2.year 2016 - 2017

    / main search input
    .row.expanded.main-search
      .column.large-offset-2.large-8
        .input-group
          %input.input-group-field{:type=>'text',:id=>'mainSearch',:name=>'mainSearch',:placeholder=>'Search Undergraduate Degree & Course Catalog'}
          .input-group-button
            %button.button.light-gray.text-dark-gray
              %span.hide-for-small-only SEARCH
              %span.fa.fa-search

    .row.expanded
      .column.large-offset-1.large-10.small-12.page
        / site navigation
        %nav.row.expanded
          .column.large-12.small-12
            .menu-container
              %ul.menu
                %li.active
                  %a{:href=>"#",:title=>"Degree and Course Catalog Home"}
                    %span.fa.fa-home
                    %span.text.show-for-small-only Home
                %li
                  %a{:href=>"academicprograms",:title=>"Degree and Course Catalog Academic Programs"}
                    %span.fa.fa-graduation-cap.show-for-small-only
                    %span.text
                      %span.hide-for-small-only Academic
                      Programs
                %li
                  %a{:href=>"uboverview",:title=>"Degree and Course Catalog University Overview"}
                    %span.fa.fa-eye.show-for-small-only
                    %span.text
                      %span.hide-for-small-only UB
                      Overview
                %li
                  %a{:href=>"policies",:title=>"Degree and Course Catalog Policies"}
                    %span.fa.fa-exclamation.show-for-small-only
                    %span.text Policies
                %li
                  %a{:href=>"coursesearch",:title=>"Catalog Course Search"}
                    %span.fa.fa-search.show-for-small-only
                    %span.text Course Search

        / content area
        .row.content.expanded
          / main content
          %section.columns.large-7.medium-8.small-12#main-content
            .main
              %h2 Undergraduate Degree &amp; Course Catalog
              %p
                The policies and requirements listed in the undergraduate catalog are in effect for the entirety of the
                academic year. Online catalogs are archived in March of each academic year, and the archived versions
                may be accessed through the links below or by contacting the Office of the Registrar at
                %a{:href=>"mailto: reg-transcripts@buffalo.edu"} reg-transcripts@buffalo.edu.
              %p
                The edition of the catalog that contains students’ university and major requirements is determined by
                their academic year of entry or reentry and academic year of acceptance to the major. See the
                %a{:href=>"#"} Catalog Rights Statement
                for specific information.
              %p
                Calendars, academic and degree programs, policies, and fees are subject to change at any time by
                official action of the University at Buffalo or the State University of New York.
              %p
                Departmental websites and departmental curricular and course information are maintained independently
                and do not necessarily reflect university-approved curricula and course information. In case of
                discrepancies between departmental information and the University Undergraduate Catalog, the University
                Undergraduate Catalog is considered definitive.
              %p
                Changes in policies, procedures, and administration may have occurred since the final publication
                deadline for this catalog. For the most up-to-date information, please contact the
                Office of the Registrar.
              %p
                Course descriptions may be found within the individual
                %a{:href=>"#"}academic program
                pages. Course descriptions for previous academic years may be found in the archived catalogs listed below.

          / "side bar" content
          .columns.large-5.medium-4.small-12
            .row

              / catalog archives
              %section.column
                %hr.show-for-small-only
                .archives#archives
                  %h5
                    %a{:href=>"#"} Catalog Archive
                  .row.catalogs
                    .columns.large-3.medium-6.small-3.text-center
                      %a{:href=>"#"}
                        %img{:src=>"//lorempixel.com/50/65/abstract/1",:width=>50,:height=>65}
                        %br
                        %span.yr 2015-16
                    .columns.large-3.medium-6.small-3.text-center
                      %a{:href=>"#"}
                        %img{:src=>"//lorempixel.com/50/65/abstract/2",:width=>50,:height=>65}
                        %br
                        %span.yr 2014-15
                    .columns.large-3.medium-6.small-3.text-center
                      %a{:href=>"#"}
                        %img{:src=>"//lorempixel.com/50/65/abstract/3",:width=>50,:height=>65}
                        %br
                        %span.yr 2013-14
                    .columns.large-3.medium-6.small-3.text-center
                      %a{:href=>"#"}
                        %img{:src=>"//lorempixel.com/50/65/abstract/4",:width=>50,:height=>65}
                        %br
                        %span.yr 2012-13
                %hr
          / removed for future consideration
          / advising
          /
            .row
              %section.column
                .module
                  %h6
                    Any Questions? Need Help?
                  %p
                    Be sure to visit an Academic Advisor or your major's advising office.  Visit the
                    %a{:href=>"#"} Advising Directory
                    on the
                    %a{:href=>"#"} Undergraduate Academic Advisement
                    website.

          / be advised
          /
            .row
              %section.column
                .module
                  %h6
                    %span.fa.fa-newspaper-o
                    Be Advised Headlines

                  .row.headline
                    .column
                      .date Jan 19, 2016
                      .title
                        %a{:href=>"#"} Week 1 - Spring Semester 2016

                  .row.headline
                    .column
                      .date Jan 7, 2016
                      .title
                        %a{:href=>"#"} Have you looked at your final grades?
                      %p
                        You can view your Final Grades for Fall 2015 via your HUB Student Center - View My Grades...

                  .row.headline
                    .column
                      .date Dec 22, 2015
                      .title
                        %a{:href=>"#"} Preparing for next semester's coursework
                      %p
                        A fantastic free on-line tool called Khan Academy offers a great way for you to review or
                        prepare...

    %footer.row.expanded
      .columns.large-offset-1.medium-3.small-9
        %object.logo{:data=>'img/UBFullName-DkGray.svg',:type=>'image/svg+xml'}
      .columns.medium-8.small-12
        .row.resources
          .columns.medium-4.small-12
            %strong Related Resources
            %ul.links
              %li
                %a{:href=>''} Academic Calendars
              %li
                %a{:href=>''} HUB Student Center via MyUB
              %li
                %a{:href=>''} Office of the Registrar
              %li
                %a{:href=>''} Undergraduate Advising


          .columns.medium-4.small-12
            %strong Legal Notices
            %ul.links
              %li
                %a{:href=>''} Accessibility Statement
              %li
                %a{:href=>''} Privacy Policy

          .columns.medium-4.small-12
            %strong Additional Info
            %ul.links
              %li
                %a{:href=>''} Contact Us
              %li
                %a{:href=>''} Catalog A-Z

        .row.copyright.clearfix
          .column.medium-10.small-12
            .float-right
              &copy; Copyright 2016 University at Buffalo, All rights reserved.

dist/home.html
<!DOCTYPE html>
<html>
  <head>
    <title>2016-17 UB Undergraduate Degree & Course Catalog</title>
    <!-- Meta -->
    <meta content='width=device-width,initial-scale:1.0' name='viewport'>
    <!-- CSS (Foundation, Roboto, FontAwesome, Catalog) -->
    <link href='//cdnjs.cloudflare.com/ajax/libs/foundation/6.1.1/foundation-flex.min.css' id='Foundation 6' rel='stylesheet'>
    <link href='//fonts.googleapis.com/css?family=Roboto:400,500,400italic,300,300italic,700,500italic,100,100italic,700italic,900,900italic' id='Roboto Font' rel='stylesheet' type='text/css'>
    <link href='//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css' id='FontAwesome' rel='stylesheet'>
    <link href='css/home/home.css' id='UB Catalog' rel='stylesheet'>
  </head>
  <body>
    <!-- background, fixed position (hide on small screens) -->
    <div class='row expanded bg-image hide-for-small-only'>
      <div class='column'></div>
    </div>
    <!-- site banner -->
    <header class='row expanded banner'>
      <div class='columns large-offset-1 large-10'>
        <!-- medium & large screen banner -->
        <object class='logo show-for-medium' data='img/UBFullName.svg' type='image/svg+xml'></object>
        <!-- phone banner -->
        <h1 class='title show-for-small-only float-left'>Degree &amp; Course Catalog 16-17</h1>
        <object class='logo show-for-small-only float-right' data='img/UB.svg' type='image/svg+xml'></object>
      </div>
    </header>
    <!-- site title & year -->
    <div class='row expanded hide-for-small-only site-title'>
      <div class='column large-offset-1 large-10'>
        <h1 class='title'>
          Undergraduate Degree &amp; Course Catalog
        </h1>
        <h2 class='year'>2016 - 2017</h2>
      </div>
    </div>
    <!-- main search input -->
    <div class='row expanded main-search'>
      <div class='column large-offset-2 large-8'>
        <div class='input-group'>
          <input class='input-group-field' id='mainSearch' name='mainSearch' placeholder='Search Undergraduate Degree &amp; Course Catalog' type='text'>
          <div class='input-group-button'>
            <button class='button light-gray text-dark-gray'>
              <span class='hide-for-small-only'>SEARCH</span>
              <span class='fa fa-search'></span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class='row expanded'>
      <div class='column large-offset-1 large-10 small-12 page'>
        <!-- site navigation -->
        <nav class='row expanded'>
          <div class='column large-12 small-12'>
            <div class='menu-container'>
              <ul class='menu'>
                <li class='active'>
                  <a href='#' title='Degree and Course Catalog Home'>
                    <span class='fa fa-home'></span>
                    <span class='text show-for-small-only'>Home</span>
                  </a>
                </li>
                <li>
                  <a href='academicprograms' title='Degree and Course Catalog Academic Programs'>
                    <span class='fa fa-graduation-cap show-for-small-only'></span>
                    <span class='text'>
                      <span class='hide-for-small-only'>Academic</span>
                      Programs
                    </span>
                  </a>
                </li>
                <li>
                  <a href='uboverview' title='Degree and Course Catalog University Overview'>
                    <span class='fa fa-eye show-for-small-only'></span>
                    <span class='text'>
                      <span class='hide-for-small-only'>UB</span>
                      Overview
                    </span>
                  </a>
                </li>
                <li>
                  <a href='policies' title='Degree and Course Catalog Policies'>
                    <span class='fa fa-exclamation show-for-small-only'></span>
                    <span class='text'>Policies</span>
                  </a>
                </li>
                <li>
                  <a href='coursesearch' title='Catalog Course Search'>
                    <span class='fa fa-search show-for-small-only'></span>
                    <span class='text'>Course Search</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <!-- content area -->
        <div class='row content expanded'>
          <!-- main content -->
          <section class='columns large-7 medium-8 small-12' id='main-content'>
            <div class='main'>
              <h2>Undergraduate Degree &amp; Course Catalog</h2>
              <p>
                The policies and requirements listed in the undergraduate catalog are in effect for the entirety of the
                academic year. Online catalogs are archived in March of each academic year, and the archived versions
                may be accessed through the links below or by contacting the Office of the Registrar at
                <a href='mailto: reg-transcripts@buffalo.edu'>reg-transcripts@buffalo.edu.</a>
              </p>
              <p>
                The edition of the catalog that contains students’ university and major requirements is determined by
                their academic year of entry or reentry and academic year of acceptance to the major. See the
                <a href='#'>Catalog Rights Statement</a>
                for specific information.
              </p>
              <p>
                Calendars, academic and degree programs, policies, and fees are subject to change at any time by
                official action of the University at Buffalo or the State University of New York.
              </p>
              <p>
                Departmental websites and departmental curricular and course information are maintained independently
                and do not necessarily reflect university-approved curricula and course information. In case of
                discrepancies between departmental information and the University Undergraduate Catalog, the University
                Undergraduate Catalog is considered definitive.
              </p>
              <p>
                Changes in policies, procedures, and administration may have occurred since the final publication
                deadline for this catalog. For the most up-to-date information, please contact the
                Office of the Registrar.
              </p>
              <p>
                Course descriptions may be found within the individual
                <a href='#'>academic program</a>
                pages. Course descriptions for previous academic years may be found in the archived catalogs listed below.
              </p>
            </div>
          </section>
          <!-- "side bar" content -->
          <div class='columns large-5 medium-4 small-12'>
            <div class='row'>
              <!-- catalog archives -->
              <section class='column'>
                <hr class='show-for-small-only'>
                <div class='archives' id='archives'>
                  <h5>
                    <a href='#'>Catalog Archive</a>
                  </h5>
                  <div class='row catalogs'>
                    <div class='columns large-3 medium-6 small-3 text-center'>
                      <a href='#'>
                        <img height='65' src='//lorempixel.com/50/65/abstract/1' width='50'>
                        <br>
                        <span class='yr'>2015-16</span>
                      </a>
                    </div>
                    <div class='columns large-3 medium-6 small-3 text-center'>
                      <a href='#'>
                        <img height='65' src='//lorempixel.com/50/65/abstract/2' width='50'>
                        <br>
                        <span class='yr'>2014-15</span>
                      </a>
                    </div>
                    <div class='columns large-3 medium-6 small-3 text-center'>
                      <a href='#'>
                        <img height='65' src='//lorempixel.com/50/65/abstract/3' width='50'>
                        <br>
                        <span class='yr'>2013-14</span>
                      </a>
                    </div>
                    <div class='columns large-3 medium-6 small-3 text-center'>
                      <a href='#'>
                        <img height='65' src='//lorempixel.com/50/65/abstract/4' width='50'>
                        <br>
                        <span class='yr'>2012-13</span>
                      </a>
                    </div>
                  </div>
                </div>
                <hr>
              </section>
            </div>
          </div>
          <!-- removed for future consideration -->
          <!-- advising -->
          <!--
            <div class='row'>
              <section class='column'>
                <div class='module'>
                  <h6>
                    Any Questions? Need Help?
                  </h6>
                  <p>
                    Be sure to visit an Academic Advisor or your major's advising office.  Visit the
                    <a href='#'>Advising Directory</a>
                    on the
                    <a href='#'>Undergraduate Academic Advisement</a>
                    website.
                  </p>
                </div>
              </section>
            </div>
          -->
          <!-- be advised -->
          <!--
            <div class='row'>
              <section class='column'>
                <div class='module'>
                  <h6>
                    <span class='fa fa-newspaper-o'></span>
                    Be Advised Headlines
                  </h6>
                  <div class='row headline'>
                    <div class='column'>
                      <div class='date'>Jan 19, 2016</div>
                      <div class='title'>
                        <a href='#'>Week 1 - Spring Semester 2016</a>
                      </div>
                    </div>
                  </div>
                  <div class='row headline'>
                    <div class='column'>
                      <div class='date'>Jan 7, 2016</div>
                      <div class='title'>
                        <a href='#'>Have you looked at your final grades?</a>
                      </div>
                      <p>
                        You can view your Final Grades for Fall 2015 via your HUB Student Center - View My Grades...
                      </p>
                    </div>
                  </div>
                  <div class='row headline'>
                    <div class='column'>
                      <div class='date'>Dec 22, 2015</div>
                      <div class='title'>
                        <a href='#'>Preparing for next semester's coursework</a>
                      </div>
                      <p>
                        A fantastic free on-line tool called Khan Academy offers a great way for you to review or
                        prepare...
                      </p>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          -->
        </div>
      </div>
    </div>
    <footer class='row expanded'>
      <div class='columns large-offset-1 medium-3 small-9'>
        <object class='logo' data='img/UBFullName-DkGray.svg' type='image/svg+xml'></object>
      </div>
      <div class='columns medium-8 small-12'>
        <div class='row resources'>
          <div class='columns medium-4 small-12'>
            <strong>Related Resources</strong>
            <ul class='links'>
              <li>
                <a href=''>Academic Calendars</a>
              </li>
              <li>
                <a href=''>HUB Student Center via MyUB</a>
              </li>
              <li>
                <a href=''>Office of the Registrar</a>
              </li>
              <li>
                <a href=''>Undergraduate Advising</a>
              </li>
            </ul>
          </div>
          <div class='columns medium-4 small-12'>
            <strong>Legal Notices</strong>
            <ul class='links'>
              <li>
                <a href=''>Accessibility Statement</a>
              </li>
              <li>
                <a href=''>Privacy Policy</a>
              </li>
            </ul>
          </div>
          <div class='columns medium-4 small-12'>
            <strong>Additional Info</strong>
            <ul class='links'>
              <li>
                <a href=''>Contact Us</a>
              </li>
              <li>
                <a href=''>Catalog A-Z</a>
              </li>
            </ul>
          </div>
        </div>
        <div class='row copyright clearfix'>
          <div class='column medium-10 small-12'>
            <div class='float-right'>
              &copy; Copyright 2016 University at Buffalo, All rights reserved.
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
